* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url(/chatbg.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}

.container{
  width: 80vw;
  height: 90vh;
  background-color: rgba(28, 43, 54, 0.815);
  border-radius: 10px;
  backdrop-filter: blur(15px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  color: whitesmoke;
}

.loading{
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(22, 28, 53, 0.815);
}

